@model SistemaPlanificacion.AplicacionWeb.Models.ViewModels.VMPDFCertificacionPlanificacion;

@{
    ViewData["Title"] = "Listado Carpetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}
    <div class="row">
        <div class="col-sm-12">
            <!-- DataTales Example -->
        <div class="card shadow mb-4">
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white">Formulario Certificar POA (Planificacion)</h6>
                </div>
                <div class="card-body">
                    <input id="txtIdCarpeta" type="hidden" value="@Model.planificacion.IdPlanificacion">
                    <hr />
                    <div class="row">
                        <div class="col-sm-12"> <h2 class="text-center"><b>CERTIFICACION DEL PLAN OPERATIVO ANUAL</b></h2></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-red text-center"> NO CERTIFICADO </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4"> <b>N°CARPETA: </b>&nbsp;&nbsp;@Model.planificacion.NumeroPlanificacion</div>
                        <div class="col-sm-4 text-center"><b>CITE: </b> @Model.planificacion.CitePlanificacion</div>
                        <div class="col-sm-4 text-center"><b>FECHA: </b> @Model.planificacion.FechaPlanificacion</div>
                    </div>
                    <br />
                    <hr />
                    <div class="row">
                        <div class="col-sm-4 p-1"><b>REGIONAL / DEPARTAMENTO</b></div>
                        <div class="col-sm-8 p-1"><input type="text" style="max-width:350px" class="form-control" disabled value="@Model.planificacion.NombreRegional"> </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 p-1"><b>UNIDAD EJECUTORA</b></div>
                        <div class="col-sm-8 p-1"><input type="text" style="max-width:350px" class="form-control " disabled value="@Model.planificacion.NombreEjecutora"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 p-1"><b>ESTABLECIMIENTO DE SALUD</b></div>
                        <div class="col-sm-8 p-1"><input type="text" style="max-width:350px" class="form-control " disabled value="@Model.planificacion.NombreCentro"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 p-1"><b>UNIDAD RESPONSABLE</b></div>
                        <div class="col-sm-8 p-1"><input type="text" style="max-width:350px" class="form-control " disabled value="@Model.planificacion.NombreUnidadResponsable"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 p-1"><b>COD. CERTIFICACION</b></div>
                        <div class="col-sm-8 p-1"><input type="text" style="max-width:450px" id="textCodigoCertificacion" class="form-control" value="@{
                               if(Model.certificacionPlanificacion!=null){
                                                            @Model.certificacionPlanificacion.CodigoPlanificacion
                               }
                        }"></div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 text-red"> <b>DESRIPCION DE LOS SOLICITADO:</b></div>
                        <br /> &nbsp;
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-responsive" id="tblData" cellspacing="0" style="width:100%; font-size:14px;">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>COD.ACT.</th>
                                        <th>PARTIDA</th>
                                        <th style="min-width:320px;">DETALLE</th>
                                        <th>U.MEDIDA</th>
                                        <th>CANTIDAD</th>
                                        <th>PRECIO</th>
                                        <th>TOTAL</th>
                                        <th>TEMPORALIDAD</th>
                                        <th style="width:100% !important;">OBSERVACION</th>
                                        <th style="min-width:200px !important;">CERTIFICADO</th>
                                    </tr>
                                </thead>
                                <tbody id="tbdatos">
                                    @{
                                    var cont = 0;
                                    var valor = "";
                                    foreach (var item in Model.planificacion.DetallePlanificacion)
                                    {
                                        cont++;                                       
                                        if(Model.certificacionPlanificacion!=null){
                                            foreach (var itemCertificacion in Model.certificacionPlanificacion.DetalleCertificacionPlanificacions)
                                            {
                                                if(itemCertificacion.IdDetallePlanificacion==item.IdDetallePlanificacion)
                                                valor=itemCertificacion.MontoPlanificacion.ToString();
                                            }
                                        }
                                                                <tr>
                                                                    <td>@cont</td>
                                                                    <td>@item.CodigoActividad<input type="hidden" id="detalle_@cont" value="@item.IdDetallePlanificacion"></input></td>
                                                                    <td class="linear">@item.CodigoPartida</td>
                                                                    <td class="linear">@item.NombreItem</td>
                                                                    <td class="linear">@item.Medida</td>
                                                                    <td class="text-center">@item.Cantidad</td>
                                                                    <td class="text-right">@item.Precio</td>
                                                                    <td class="text-right">@item.Total</td>
                                                                    <td class="text-center">@item.Temporalidad</td>
                                                                    <td class="text-left">@item.Observacion</td>
                                                                    <td class="text-center"> <input id="txtMontoPresupuesto_@(item.IdDetallePlanificacion)" value="@valor" class="form-control" type="text" maxlength="9" minlength="9" style="border-radius:20px;" required="" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"> </td>
                                                                    
                                                                </tr>

                                    }
                                }
                            </tbody>
                            <tfooter>
                                <tr>
                                    <td colspan="7" class="text-right"><b> MONTO TOTAL CERTIFICADO:</b></td>
                                    <td><div id="textMontoTotal" class="text-right"><b class="text-red text-center"> @Model.planificacion.MontoPlanificacion</b></div></td>
                                    <td colspan="3" class="text-center"><span class="text-red">*</span> los totales deben ser iguales</td>
                                </tr>
                            </tfooter>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><b>EMITIDO POR: </b></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" value="----" disabled>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-footer text-center">
                <a class="btn btn-default" href="~/Planificacion/ListadoPlanificacion">Volver al Listado </a>
                <button type="button" class="btn btn-primary" id="btnTerminarCarpeta" onclick="guardarCertificacionPOA()">Guardar Certificacion Planificación POA</button>

            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>


@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/CertificarPlanificacion.js"></script>
}


